<!doctype html>
<html>
<head>
    <title>Second Opinion Doctor Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="docProfile.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <meta charset="utf-8">
    <meta name="description" content="Your description goes here">
    <meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <% if( user.local.userType === "doctor") {%>

    <header>
      <i class="fas fa-heartbeat"></i>
      <section class="userOut">
        <span>Hello! <%= user.local.email %><span>
        <a href="/logout" class="effect1">Logout<span class="bg"></span></a>
      </section>
    </header>

    <div class="issuesBox">
      <% for(var i=0; i<issues.length; i++) {%>
        <div class="eachIssue">
          <div class="issuesLeft">
            <p><p class="bold">Date:</p> <%= issues[i].date %></p>
            <p><p class="bold">Date:</p> <%= issues[i].userName %></p>
            <p><p class="bold">Health Issue:</p> <%= issues[i].description %></p>
            <% for (let j = 0; j <responses.length; j++) {%>
            <% if(responses[j].issueId.equals(issues[i]._id)){%>
              <span class="deleteResponses" data-id="<%= responses[j]._id%>"><i class="fas fa-eraser" ></i></span>
            <p><p class="bold">Doctor Diagnosis:</p> <%= responses[j].responses %></p>
            <% } %>
          <% } %>
          </div>
          <div class="issuesRight">
            <img src="data:image/jpeg;base64,
               <%=issues[i].imageData.toString('base64')%>">
            <button type="submit"><a href="/documentReader/<%= issues[i]._id %>">Convert Doc</a></button>

          </div>
        </div>

        <form action="/docResponse" method="POST" enctype="application/x-www-form-urlencoded">
            <div>
                <label for="responses">Diagnosis</label>
                <input type="text" id="name" placeholder="Diagnosis"
                       value="" name="responses" required>
                <input hidden type="text" name="issueId" value="<%=issues[i]._id %>">
                <input hidden type="text" name="patientId" value="<%=issues[i].userId %>">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
      <% } %>

    </div>







<% } else {%>
  <p class="error">Error! Please login to the patient's portal here: <a class="error" href="/login">Login</a></p>
<% }  %>


<script src="main.js"></script>

</body>
</html>
