<!doctype html>
<html>
<head>
    <title>Second Opinion User Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="profile.css">
    <meta charset="utf-8">
    <meta name="description" content="Your description goes here">
    <meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <% if( user.local.userType === "patient") {%>

<div class="container">

    <header>
      <%= user.local.email %>
      <!-- maybe change into logo -->
      <i class="fas fa-heartbeat"></i>
      <!-- user name will go here based on whose loged in(backend) -->
        <h1></h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <!-- this will send the user to the page where they can have a doctor review
        their medical info -->
        <a href="/request" class="btn btn-default btn-sm">Second Opinion Request</a>
        <!-- this link will bring the user to a page where they will have a from that will upload their
        medical docs to the database -->
        <a href="/medForm" class="btn btn-default btn-sm">Upload Medical Forms</a>
        <!-- this link will bring the user to a page where they can search for doctors
        and specalties (need an api for this) -->
        <a href="/medForm" class="btn btn-default btn-sm">Find a Doc</a>
    </header>

    <!-- this will be the user login and will have an option to show user image -->
    <!-- <div class="row"> -->

        <!-- LOCAL INFORMATION -->
        <!-- <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div> -->
        <div>
          <h3>Vitals</h3>
          <ul class="vitals">
          <% for(var i=0; i<userVitals.length; i++) {%>
            <li class="vitals">
              <span><%= userVitals[i].date %></span>
              <span><%= userVitals[i].weight %></span>
              <span><%= userVitals[i].height %></span>
              <span><%= userVitals[i].bp %></span>
              <span><%= userVitals[i].pulse %></span>
              <span><i class="fas fa-trash-alt" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>

  <!-- imag upload form -->
          <div>
          <form action="/issue" method="POST" enctype="multipart/form-data">
              <div>
                  <label for="name">Describe health issue</label>
                  <input type="text" id="name" placeholder="Name"
                         value="" name="description" required>
              </div>
              <div>
                  <label for="image">Upload Image</label>
                  <input type="file" id="image"
                         name="image" value="" required>
              </div>

              <select name="chosenDoctorId">
                <% for(var i=0; i<doctors.length; i++) {%>
                  <option value="<%= doctors[i]._id%>"><%= doctors[i].local.email %><%= doctors[i].local.specialty %></option>

                    <% } %>
                  </select>
              <div>
                  <button type="submit">Submit</button>
              </div>
          </form>
          <ul class="vitals">
            <%= console.log(issues)%>
          <% for(var i=0; i<issues.length; i++) {%>
            <li class="vitals">
              <span><%= issues[i].date %></span>
              <span><%= issues[i].description %></span>
              <span><%= issues[i].userName %></span>
              <img src="data:image/jpeg;base64,
                   <%=issues[i].imageData.toString('base64')%>">
                   <% for (let j = 0; j <responses.length; j++) {%>
                   <ul>
                     <% if(responses[j].issueId.equals(issues[i]._id)){%>
                     <li class="responses">
                       <p><%= responses[j].responses %></p>
                     </li>
                         <% } %>
                   </ul>
                   <% } %>
              <span class="deleteIssues" data-id="<%= issues[i]._id%>"><i class="fas fa-trash" ></i></span>
            </li>
          <% } %>
          </ul>

      </div>


          <h2>Add your vitals</h2>
          <form action="/vitals" method="POST">
            <input type="text" placeholder="MM/DD/YY" name="date">
            <input type="text" placeholder="weight" name="weight">
            <input type="text" placeholder="height" name="height">
            <input type="text" placeholder="blood pressure" name="bp">
            <input type="text" placeholder="pulse" name="pulse">
            <button type="submit">Submit</button>
          </form>
        </div>




<% } else {%>
  <p>Error please login to dr portal <a href="/docLogin">Login</a></p>
  <% }  %>

<script src="main.js"></script>

</body>
</html>
